.row{ :class => "service-bank" }
  .col{ :class => "column help-left d-flex" }
    %span{ :class => "help-subtitle" }
      С разблокировкой банковских счетов физических лиц:

    %div{ :class => "d-flex justify-content-flex-end align-items-center notes" }
      %img{ :src => "../public/notes.svg", :alt => "" }

  .col
    %ul
      %li
        .row
          .col{ :class => "d-flex justify-content-center align-items-center grow-0" }
            .circle
          .col{ :class => "d-flex justify-content-center align-items-center grow-1" }
            .service-item
              %span сбор и анализ пакета документов для разблокировки банковского счета

      %li
        .row
          .col{ :class => "d-flex justify-content-center align-items-center grow-0" }
            .circle
          .col{ :class => "d-flex justify-content-center align-items-center grow-1" }
            .service-item
              %span составление пояснения/досудебной претензии в адрес Банка
      %li
        .row
          .col{ :class => "d-flex justify-content-center align-items-center grow-0" }
            .circle
          .col{ :class => "d-flex justify-content-center align-items-center grow-1" }
            .service-item
              %span помощь в переговорах с Банком
      %li
        .row
          .col{ :class => "d-flex justify-content-center align-items-center grow-0" }
            .circle
          .col{ :class => "d-flex justify-content-center align-items-center grow-1" }
            .service-item
              %span индивидуальные консультации

      %li
        .row
          .col{ :class => "d-flex justify-content-center align-items-center grow-0" }
            .circle
          .col{ :class => "d-flex justify-content-center align-items-center grow-1" }
            .service-item
              %span правовое обоснование деятельности с криптовалютой

      %li
        .row
          .col{ :class => "d-flex justify-content-center align-items-center grow-0" }
            .circle
          .col{ :class => "d-flex justify-content-center align-items-center grow-1" }
            .service-item
              %span подготовка документов для осуществления деятельности с криптовалютой


      %li
        .row
          .col{ :class => "d-flex justify-content-center align-items-center grow-0" }
            .circle
          .col{ :class => "d-flex justify-content-center align-items-center grow-1" }
            .service-item
              %span судебное урегулирование спора
