.service-bank
  .row
    .col{ :class => "column help-left d-flex" }
      %span{ :class => "help-subtitle" }
        С разблокировкой банковских счетов физических лиц:

      %div{ :class => "d-flex justify-content-flex-end align-items-center notes" }
        %img{ :src => "../public/notes.svg", :alt => "" }

    .col
      %ul
        %li
          .circle
          .service-item
            %span сбор и анализ пакета документов для разблокировки банковского счета

        %li
          .circle
          .service-item
            %span составление пояснения/досудебной претензии в адрес Банка

        %li
          .circle
          .service-item
            %span помощь в переговорах с Банком
        %li
          .circle
          .service-item
            %span индивидуальные консультации

        %li
          .circle
          .service-item
            %span правовое обоснование деятельности с криптовалютой


        %li
          .circle
          .service-item
            %span подготовка документов для осуществления деятельности с криптовалютой


        %li
          .circle
          .service-item
            %span судебное урегулирование спора
