.service-market
  .row
    .col{ :class => "column help-left" }
      %span{ :class => "help-subtitle" }
        С разблокировкой аккаунтов на криптовалютных биржах и онлайн-сервисах:

      %div{ :class => "d-flex justify-content-flex-end align-items-center coins" }
        %img{ :src => "../public/coins.svg", :alt => "" }

    .col
      %ul
        %li
          .circle
          .service-item
            %span анализ ситуации
        %li
          .circle
          .service-item
            %span помощь в переговорах с технической службой поддержки
        %li
          .circle
          .service-item
            %span помощь в сборе документов, подтверждающих законность операции с криптовалютой
        %li
          .circle
          .service-item
            %span помощь в составлении пояснения для AML-офицера
