.help-title
  %span Мы можем помочь:

= Haml::Engine.new(File.read("src/components/services/unlock-market-accounts.haml")).render
= Haml::Engine.new(File.read("src/components/services/unlock-bank-accounts.haml")).render
