.row{ :class => "service-market" }
  .col{ :class => "column help-left" }
    %span{ :class => "help-subtitle" }
      С разблокировкой аккаунтов на криптовалютных биржах и онлайн-сервисах:

    %div{ :class => "d-flex justify-content-flex-end align-items-center" }
      %div{ :class => "coins" }
        %img{ :src => "../public/coins.svg", :alt => "" }

  .col
    %ul
      %li
        .row
          .col{ :class => "d-flex justify-content-center align-items-center grow-0" }
            .circle

          .col{ :class => "d-flex justify-content-center align-items-center grow-1" }
            .service-item
              %span анализ ситуации
      %li
        .row
          .col{ :class => "d-flex justify-content-center align-items-center grow-0" }
            .circle

          .col{ :class => "d-flex justify-content-center align-items-center grow-1" }
            .service-item
              %span помощь в переговорах с технической службой поддержки
      %li
        .row
          .col{ :class => "d-flex justify-content-center align-items-center grow-0" }
            .circle
          .col{ :class => "d-flex justify-content-center align-items-center grow-1" }
            .service-item
              %span помощь в сборе документов, подтверждающих законность операции с криптовалютой
      %li
        .row
          .col{ :class => "d-flex justify-content-center align-items-center grow-0" }
            .circle
          .col{ :class => "d-flex justify-content-center align-items-center grow-1" }
            .service-item
              %span помощь в составлении пояснения для AML-офицера
