.percent-container
  .percent-item{ :class => "grow-2" }
    .icon
      %img{ :src => "../public/percent.svg", :alt => "" }

    %div{ :class => "num" }
      %span 5-10%*
    %div{ :class => "title" }
      %span Разблокировка аккаунтов на криптовалютных биржах и онлайн-сервисах
    %div{ :class => "subtitle" }
      %span *от заблокированной суммы на аккаунте в зависимости от сложности работ

  .percent-item{ :class => "grow-1" }
    %div{ :class => "num" }
      %span от $70
    %div
      %span Разблокировка банковских счетов



