.result-container
  .result-item{ :class => "grow-1" }
    .clocks-icon
      %img{ :src => "../public/clocks.svg", :alt => "" }
    .num
      %span От 5 до 30 дней
    .title
      %span Сроки оказания услуг

  .result-item{ :class => "grow-2" }
    .check-icon
      %img{ :src => "../public/check.svg", :alt => "" }
    .num
      %span Платите за результат
    .title
      %span В случае отказа в разблокировке аккаунта мы вернем оплату за услуги в 100% размере
