@import "light-scheme.css";
@import "dark-scheme.css";

:root {
    --header-height: 50px;
}

html {
    scroll-behavior: smooth;
    color: var(--text-color);
}

footer {
    margin-top: 180px;
}

body {
    margin: 0;
    background: var(--background-color);
    background: var(--background-gradient);
    padding: 20px;
    font-family: 'Raleway', sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    padding: 0;
    list-style-type: none;
}

.burger {
    background-color: var(--burger-background-color);
    box-shadow: 0 0 15px var(--burger-background-color);
    border-radius: 8px;
    z-index: 10;
}

.btn-theme {
    width: 28px;
    height: 28px;
}

.service-market li, .service-bank li {
    padding: 16px;
    background-color: var(--services-background);
    margin-bottom: 20px;
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.service-market li:last-child, .service-bank li:last-child {
    margin-bottom: 0;
}

.cta {
    height: calc(100svh - var(--header-height));
}

header {
    height: var(--header-height);
}

header .nav {
    flex-direction: row-reverse;
}

.image-purple-person {
    margin-top: -75px;
}
.image-orange-person {
    margin-left: -50px;
    margin-top: 75px;
}

.who-work-container {
    background-color: var(--services-background);
    border-radius: var(--radius);
}

.help-with {
    background-color: var(--services-background);
    border-radius: var(--radius);
}

.services-list {
    background-color: var(--services-background);
    padding: 25px;
    border-radius: var(--radius);
}

.how-we-work-item {
    background-color: var(--services-background);
    border-radius: var(--radius);
}

.percent-item {
    background-color: var(--services-background);
    border-radius: var(--radius);
}

.percent-item .icon {
    position: absolute;
    left: 57%;
    margin-top: -65px;
}

.result-item {
    background-color: var(--services-background);
    border-radius: var(--radius);
}

.clocks-icon {
    position: absolute;
    right: 6%;
    top: -15%;
}

.check-icon {
    position: absolute;
    right: 4%;
    top: -15%;
}

.btn {
    cursor: pointer;
    height: 61px;
    padding: 20px 40px;
    border-radius: var(--button-radius);
    background-color: var(--button-background);
    color: var(--button-text);
    border: none;
    width: 100%;
    text-decoration: none;
    transition: all 0.25s;
}

.btn:hover {
    background-color: var(--button-background-hover);
    box-shadow: 0 0 15px var(--button-background-hover);
}

@media (min-width: 768px) {
    header .nav {
        flex-direction: row;
    }

    .who-work-container {
        z-index: 2;
    }

    .service-market li, .service-bank li {
        padding: 36px 48px;
        background-color: var(--background-color);
        margin-bottom: 20px;
        border-radius: var(--radius);
        display: flex;
        align-items: center;
    }

    .service-market li:last-child, .service-bank li:last-child {
        margin-bottom: 0;
    }
}

@media (min-width: 1200px) {
    .service-market, .service-bank {
        flex-direction: row;
        padding: 60px;
    }
}


