.contact-form
  .arrow
    %img{ :src => "../public/contacts-arrow.svg", :alt => "" }

  .title
    %span
      Оставьте свои контакты

  .subtitle
    %span
      Мы свяжемся с вами и поможем разблокировать ваши средства

  .contact-form-content
    .row{ :class => "contact-form-content" }
      .col{ :class => "grow-1" }
        %input{ :class => "w-full  h-100", :placeholder => "ФИО", :name => "fio" }
      .col{ :class => "grow-1" }
        %input{ :class => "w-full  h-100", :placeholder => "Номер телефона", :name => "phone" }
      .col{ :class => "grow-1" }
        %input{ :class => "w-full  h-100", :placeholder => "Email", :name => "email" }
      .col{ :class => "grow-1" }
        %button{ :class => "btn", :onclick => "send()" } Отправить
