.row{ :class => "help-with-container" }
  .col{ :class => "help-with" }
    .row{ :class => "column" }
      .title
        %img{ :src => "../public/Key.svg", :alt => "" }

      %span
        Понимание внутренней работы криптовалютного и банковского секторов

  .col{ :class => "help-with" }
    .row{ :class => "column" }
      .title
        %img{ :src => "../public/HandShake.svg", :alt => "" }

      %span
        Индивидуальный подход и консультирование клиентов 24/7

  .col{ :class => "help-with" }
    .row{ :class => "column" }
      .title
        %img{ :src => "../public/LinesDots.svg", :alt => "" }

      %span
        Нетривиальные подходы к решению вопросов в кратчайшие сроки

