.how-we-work
  %span Как мы работаем:

.row{ :class => "how-we-work-container" }
  .col{ :class => "how-we-work-item" }
    .row{ :class => "column relative" }
      .star
        %img{ :src => "../public/star.svg", :alt => "" }
      .header
        %span{ :class => "num" } 1
        %span{ :class => "title" } Сбор документов
      %span{ :class => "content" } Вы передаете нам всю необходимую информацию по делу: договоры, переписки с банком/биржей, документы, которые могут послужить основанием для разблокирования счета/крипто-аккаунта

  .col{ :class => "how-we-work-item" }
    .row{ :class => "column" }
      .header
        %span{ :class => "num" } 2
        %span{ :class => "title" } Анализ ситуации
      %span{ :class => "content" } После заключения договора с вами наши эксперты тщательно и оперативно изучают обстоятельства дела, оценивают перспективы и подробно рассказывают вам о дальнейших действиях

  .col{ :class => "how-we-work-item" }
    .row{ :class => "column relative" }
      .star-2
        %img{ :src => "../public/star-2.svg", :alt => "" }
      .header
        %span{ :class => "num" } 3
        %span{ :class => "title" } Переговоры с сервисом
      %span{ :class => "content" } Мы подготавливаем все необходимые документы, помогаем в коммуникации с банком/сервисом и контролируем ситуацию до снятия ограничений с ваших средств
