.tg
  .row
    .col{ :class => "d-flex column justify-content-center align-items-start" }
      %div
        %span
          Еженедельно наши подписчики получают полезную информацию в Телеграм-канале Unlock

      %div{ :class => "btn-container" }
        %a{ :href => "https://t.me/unlock_site", :class => "btn-a" } Подписаться

    .col{ :class => "questions" }
      %div{ :class => "question green" }
        %span{ :class => "title" } ?
        %span{ :class => "content" } Как оплатить налоги с криптовалюты

      %div{ :class => "question purple" }
        %span{ :class => "title" } ?
        %span{ :class => "content" } Как бизнесу легально принимать оплату  в криптовалюте

      %div{ :class => "question orange" }
        %span{ :class => "title" } ?
        %span{ :class => "content" } Как бизнесу легально принимать оплату  в криптовалюте



