.row{ :class => "service-title align-items-center" }
  .col{ :class => "w-300" }
    .row{ :class => "justify-content-center align-items-center h-100" }
      .col{ :class => "image-purple-person row justify-content-flex-end" }
        %img{ :src => "../public/PurplePerson.svg", :alt => "" }
      .col{ :class => "image-orange-person" }
        %img{ :src => "../public/OrangePerson.svg", :alt => "" }

  .col{ :class => "who-works" }
    %span
      В штате Unlock работают профессиональные юристы с опытом работы более 10 лет в областях KYC/AML, Fintech и банковской сферы

