%footer
  .row{ :class => "about" }
    .col{ :class => "grow-2" }
      %img{ :src => "../public/logo.svg", :alt => "logo" }

    .col
      %ul
        %li Преимущества
        %li Услуги
        %li Стоимость

    .col
      %ul
        %li Пользовательское соглашение
        %li Политика конфиденциальности

  .row{ :class => "justify-content-flex-end align-items-center design-author-block" }
    %span Разработка дизайна сайта:
    %a{ :href => "https://yafawn.com" } yafawn design ↗
