%footer
  .row
    .col{ :class => "grow-2" }
      %img{ :src => "../public/logo.svg", :alt => "logo" }

    .col{ :class => "grow-1" }
      %ul
        %li Преимущества
        %li Услуги
        %li Стоимость

    .col{ :class => "grow-1" }
      %ul
        %li Пользовательское соглашение
        %li Политика конфиденциальности

  .row{ :class => "justify-content-flex-end align-items-center design-author-block" }
    %span{ :class => "design-author-title" } Разработка дизайна сайта:
    %a{ :class => "design-author", :href => "https://yafawn.com" } yafawn design ↗
