%header
  %div{ :class => "row justify-content-space-between" }
    .col
      %img{ :src => "../public/logo.svg", :alt => "logo" }

    .col
      %div{ :class => "row justify-content-flex-end" }
        %a{ :class => "page-link", :href => "#advantages" } Преимущества
        %a{ :class => "page-link", :href => "#services" } Услуги
        %a{ :class => "page-link", :href => "#price" } Стоимость
