%header{ :class => "row justify-content-space-between align-items-center" }
  .col
    %img{ :src => "../public/logo.svg", :alt => "logo" }

  .col{ :class => "grow-0" }
    .row{ :class => "justify-content-flex-end flex-nowrap nav" }
      .col{ :class => "ta-center" }
        %a{ :class => "page-link", :href => "#advantages" } Преимущества
      .col{ :class => "ta-center" }
        %a{ :class => "page-link", :href => "#services" } Услуги
      .col{ :class => "ta-center" }
        %a{ :class => "page-link", :href => "#price" } Стоимость
