%html

  %head
    %meta{:charset => "UTF-8" }
    %meta{:content => "width=device-width, initial-scale=1, minimum-scale=1", :name => "viewport"}
    = Haml::Engine.new(File.read("src/styles/index.css.haml")).render

  %body
  = Haml::Engine.new(File.read("src/components/common/header.haml")).render
  = Haml::Engine.new(File.read("src/components/common/main.haml")).render
  = Haml::Engine.new(File.read("src/components/common/footer.haml")).render
